In [ ]:
Continuation on list datatype:
    #req:print the numbers between 1-20 which are only even by using the list
    range method:specifying range of number   #last value is always exclusive

In [1]:
x=list(range(1,20))

In [2]:
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
#General syntax of a range
(startvalue,stopvalue,stepcount)

In [3]:
even_numbers=list(range(1,20,2))

In [4]:
print(even_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#req:to get only odd no 1-30

In [5]:
odd_numbers=list(range(3,30,2))

In [6]:
print(odd_numbers)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [ ]:
Introduction to tuple datatype:
    An immutable list is called as tuple
    How to define a tuple---->()

In [7]:
dimensions=(200,50)

In [8]:
print(dimensions)

(200, 50)

In [9]:
type(dimensions)

tuple

In [ ]:
#Change 200 to 250

In [10]:
dimension[0]=250

NameError: name 'dimension' is not defined

In [11]:
print(dimensions[0])

200

In [ ]:
tuple is used for fixed data

In [12]:
dimensions=(250,50)

In [13]:
print(dimensions)

(250, 50)

In [14]:
students=('bhavani','vinay','karthik','rudhi','akshada','sai')

In [15]:
type(students)

tuple

In [16]:
for x in students:
    print(x)

bhavani
vinay
karthik
rudhi
akshada
sai

In [17]:
for x in students:
    print(x.title())

Bhavani
Vinay
Karthik
Rudhi
Akshada
Sai

In [18]:
print(students[1])

vinay